@import url('https://fonts.googleapis.com/css?family=Cormorant Garamond:400,700&display=swap');

:root {
    --bgColor: #000000;
    --bgColor2: #303030;
    --accentColor: #ffffff;
    --font: 'Cormorant Garamond', sans-serif;
    --delay: .3s;
}

body {
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
    padding: 0;
    font-family: var(--font);
    background-color: var(--bgColor);
    /*background: radial-gradient(ellipse at bottom, var(--bgColor) 0%, var(--bgColor2) 100%);*/
    animation: 1s ease-out var(--delay) 1 transitionAnimation; 
    animation-fill-mode: forwards;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#header, #header img {
    position: relative;
    width: 96px;
    height: 96px;
    display: block;
    margin: 100px auto 20px;
    border-radius: 50%;
    -webkit-tap-highlight-color: transparent;
}

#title {
    color: var(--accentColor);
    font-size: 2.5rem;
    font-weight: bold;
    display: block;
    margin: 40px auto 20px;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.link {
    position: relative;
    background-color: var(--bgColor2);
    color: var(--accentColor);
    /*border: solid var(--accentColor) 2px;*/
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 17px;
    padding: 17px; 
    padding-right: 49px;
    text-decoration: none;
    /* transition: all .25s cubic-bezier(.08, .59, .29, .99); */
    -webkit-tap-highlight-color: transparent;
}

.thumbnail {
    float: left;
    width: 32px; 
    max-width: 32px;
    border-radius: 6px;
}

@media (hover: hover) {
    .link:hover {
        background-color: var(--accentColor);
        color: var(--bgColor);
    }
}

.link:active {
    background-color: var(--accentColor);
    color: var(--bgColor);
}

@keyframes transitionAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
