<ul class="icons no-print">
  <li>
    <a href="https://www.threads.net/@tsoagame" target="_blank">
      <img src="images/threads.jpg" title="Threads link">
    </a>
  </li>
  <li>
    <a href="https://bsky.app/profile/tsoagame.bsky.social" target="_blank">
      <img src="images/bluesky.jpg" title="BlueSky link">
    </a>
  </li>
  <li>
    <a href="https://mastodon.gamedev.place/@tsoagame" target="_blank">
      <img src="images/mastodon.jpg" title="Mastodon link">
    </a>
  </li>
  <li>
    <a href="https://twitter.com/tsoagame" target="_blank">
      <img src="images/twitter.jpg" title="Twitter link">
    </a>
  </li>
</ul>
